<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="from_frame" default="odom"/>
  <arg name="to_frame" default="odom"/>
  <node pkg="elevation_mapping_demos" type="tf_to_pose_publisher.py" name="unitree_pose_publisher">
    <param name="from_frame" type="string" value="$(arg from_frame)"/>
    <param name="to_frame" type="string" value="$(arg to_frame)"/>
  </node>

</launch>
